<!DOCTYPE html>
<html>
<head>
<title>Accesso Admin</title>
<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div align="center">
<!-- Home BUTTON -->
<h1><a href="index.html" ><img src="img/LOGO1.1.png" class="img-fluid" width="30%"></a></h1>

<form action="accesso" method="get">
<div>
<h3><label for="name">Name:</label></h3>
<input type="text" id="name" name=user >
</div>
<div>
<h3><label for="psw">Password:</label></h3>
<input type="password" id="psw" name= password >
</div>
<hr>
<div>
<button type="submit" class="btn btn-success">Enter</button>
</div>
</form>


</div>

</body>
</html>

