<!DOCTYPE html>
<html>
<head>
<title>Index2</title>

<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div align="center">
		<!-- Home BUTTON -->
<h1><a href="index.html" >DeGrinSpun</a></h1>



		<hr>
		<h2>
			ADMIN, <br>Seleziona il settore in cui vuoi operare:
		</h2>




		<table>

			<tr>

				<th>
					<form action="/utente" method="get">
						<button type="submit" class="btn btn-success">Utente</button>
					</form>
				</th>
				<th></th>
				<th><form action="/ristoratore" method="get">
						<button type="submit" class="btn btn-success">Ristoratore</button>
					</form></th>

			</tr>

		</table>
		<img src="img/tagliere1.jpg" class="img-fluid">

	</div>


</body>
</html>