<!DOCTYPE html>
<html>
<head>
<title>Index2</title>

<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div align="center">
		<h1>ADMIN DeGrinSpun</h1>
		<img src="img/tagliere1.jpg" class="img-fluid">

		<hr>
		<h2>Seleziona il settore in cui vuoi operare:</h2>




		<table>

			<tr>

				<th>
					<form action="/utente" method="get">
						<button type="submit" class="btn btn-success">Utente</button>
					</form>
				</th>
				<th></th>
				<th><form action="/ristoratore" method="get">
						<button type="submit" class="btn btn-success">Ristoratore</button>
					</form></th>

			</tr>

		</table>

		<!-- Home BUTTON -->
		<form action="Home">
			<button type="submit" class="btn btn-success">Home</button>
		</form>
	</div>
	</div>
	<hr>


	<!--  <form action="Admin.html" method="post">
	<button type="submit">Admin</button>
	</form>
	-->


	<hr>
</body>
</html>