<!DOCTYPE html>
<!-- my hello page -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Thymeleaf</title>
</head>

<body>

	<p>Restaurants in table</p>


				
					<button type="submit">Insert</button>
	<table>
		<tr>
			<th>RISTORANTE_ID</th>
			<th>NOME</th>
			<th>POSIZIONE</th>
			<th>POSTI DISPONIBILI</th>
			<th>TIPO CUCINA</th>
			<th>EMAIL</th>
			<th></th>
		</tr>
		<tr th:each="cur: ${restaurants}">
				<td th:text="${cur.ristoranteId}">1</td>
			<td th:text="${cur.nome}">Trattoria</td>
			<td th:text="${cur.posizione}"></td>
			<td th:text="${cur.postiDisponibili}"></td>
			<td th:text="${cur.tipoCucina}"></td>
			<td th:text="${cur.email}"></td>
			<td>
			
		
			
	<form action="/insert" method="get">
	
					
					<button type="submit">Insert</button>
				
				</form>	
	
	<form action="/update" method="get">
	
					
					<button type="submit">Update</button>
				
				</form>	
					
					<form action="/delete"
					method="get">
					
					<div>
<label for="id">Restaurant id:</label>
<input type="text"  name="id">
</div>
					
					<button type="submit">Delete</button>
				
				</form>

				
				
				


			</td>
			
			
			
		
	</table>

				
</body>