<!DOCTYPE html>
<!-- my hello page -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
<title>Thymeleaf</title>
<link rel="stylesheet"
type="text/css"
href="css\fontAwesome.css"/>
<link rel="stylesheet"
type="text/css"
href="css\bootstrap-theme.css"/>
<link rel="stylesheet"
type="text/css"
href="css\bootstrap-theme.min.css"/>
<link rel="stylesheet"
type="text/css"
href="css\bootstrap.css"/>
<link rel="stylesheet"
type="text/css"
href="css\bootstrap.min.css"/>
<link rel="stylesheet"
type="text/css"
href="css\templatemo-style.css"/>

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style="text-align:center" class="container-fluid ">

	<h1>Restaurants in table</h1>


				
				<form action="/update" method="get">	
	<table class="table table-striped">
		<tr>
			<th>RISTORANTE_ID</th>
			<th>NOME</th>
			<th>POSIZIONE</th>
			<th>POSTI DISPONIBILI</th>
			<th>TIPO CUCINA</th>
			<th>EMAIL</th>
			<th>OPZIONI</th>
		</tr>
			
			
		
		
		<tr th:each="cur: ${restaurants}">
				
				<td th:text="${cur.ristoranteId}" id="id" name="id">1</td>
			<td th:text="${cur.nome}" id="nome" name="nome">Trattoria</td>
			<td th:text="${cur.posizione}" id=posizione name="posizione"></td>
			<td th:text="${cur.postiDisponibili}" id="postiDisponibili" name="postiDisponibili"></td>
			<td th:text="${cur.tipoCucina}" id="tipoCucina" name="tipoCucina"></td>
			<td th:text="${cur.email}" id="email" name="email"></td>
			<td>
			
		
			
<button type="submit" class="btn btn-success">Update</button>
				
					


			</td>
	
			</tr>
			
			
		
	</table>
</form>	
		
	

	
					
				
					
				
				
					
					<form action="/insert" method="get">
	
					
					<button type="submit" class="btn btn-success">Insert</button>
				
				</form>	
					
					
					<form action="/delete"
					method="get">
					
					<div>
<label for="id">Restaurant id:</label>
<input type="text"  name="id">
</div>
					
					<button type="submit" class="btn btn-success">Delete</button>
				
				</form>

							
</body>