<!DOCTYPE html>
<!-- my hello page -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Elenco view</title>
<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="text-align: center" class="container-fluid ">

	<h1>Ecco i nostri ristoranti:</h1>




	<table class="table table-striped">
		<tr>
			<th>RISTORANTE_ID</th>
			<th>NOME</th>
			<th>POSIZIONE</th>
			<th>POSTI DISPONIBILI</th>
			<th>TIPO CUCINA</th>
			<th>EMAIL</th>
			<th></th>
		</tr>




		<tr th:each="cur: ${restaurants}">

			<td th:text="${cur.ristoranteId}" id="id"></td>
			<td th:text="${cur.nome}" id="nome"></td>
			<td th:text="${cur.posizione}" id=posizione></td>
			<td th:text="${cur.postiDisponibili}" id="postiDisponibili"></td>

			<td th:text="${cur.tipoCucina}" id="tipoCucina"></td>
			<td th:text="${cur.email}" id="email"></td>
			<td>





				<form action="/feedback" method="get">
					<button type="submit" class="btn btn-success">Recensisci</button>
				</form>

				<form action="/confirmFeedback" method="get">
					<button type="submit" class="btn btn-success">Vedi
						Recensioni</button>
				</form>


			</td>


	</tr>

	</table>
	<!-- Home BUTTON -->
	<form action="Home">
		<button type="submit" class="btn btn-success">Home</button>
	</form>


</body>