<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Elenco Utenti</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="text-align: center" class="container-fluid ">
	<!-- Home BUTTON -->
	<h1>
		<a href="index.html"><img src="img/LOGO1.1.png" class="img-fluid"
			width="30%"></a>
	</h1>
	<h1>UTENTI</h1>
	<table class="table table-striped">
		<tr>
			
			<th>NOME</th>
			<th>COGNOME</th>
			<th>EMAIL</th>
			<th>USER_ID</th>
		
			<th>AFFIDABILITA</th>
			<th></th>
		</tr>
		<tr th:each="cur: ${users}">
		
			<td th:text="${cur.nome}" id="nome"></td>
			<td th:text="${cur.cognome}" id="cognome"></td>
			<td th:text="${cur.email}" id="email"></td>
			<td th:text="${cur.userId}" id="userId"></td>
		
			<td th:text="${cur.affidabilita}" id="affidabilita"></td>
			<td><a th:href="@{/updateUtente(id=${cur.utenteId})}">
					<button type="submit" class="btn btn-success">Update</button>
			</a> <a th:href="@{/deleteUtente(id=${cur.utenteId})}">
					<button type="submit" class="btn btn-success">Delete</button>
			</a></td>
		</tr>
	</table>
	<form action="/insertUtente" method="get">
		<button type="submit" class="btn btn-success">Insert</button>
	</form>
	<!-- Admin BUTTON -->
	<form action="/AccessoAdmin">
		<button type="submit" class="btn btn-success">torna in admin</button>
	</form>
</body>