<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>feedback</title>
<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="text-align: center" class="container-fluid ">

	<h1>INSERISCI IL TUO FEEDBACK</h1>




	<table class="table table-striped">
		<tr>

			<th>SERVIZIO</th>
			<th>ATMOSFERA</th>
			<th>QUALITA/PREZZO</th>
			<th>PULIZIA</th>
			<th>COMMENTO</th>
			<th>OPZIONI</th>
		</tr>




		<tr>

			<td><input type="radio" name="servizio" id="servizio" value="1" />
				<label for="servizio">1</label><br> <input type="radio"
				name="servizio" id="servizio" value="2" /> <label for="servizio">2</label><br>
				<input type="radio" name="servizio" id="servizio" value="3" checked />
				<label for="servizio">3</label><br> <input type="radio"
				name="servizio" id="servizio" value="4" /> <label for="servizio">4</label><br>
				<input type="radio" name="servizio" id="servizio" value="5" /> <label
				for="servizio">5</label><br></td>

			<td><input type="radio" name="atmosfera" id="atmosfera"
				value="1" /> <label for="atmosfera">1</label><br> <input
				type="radio" name="atmosfera" id="atmosfera" value="2" /> <label
				for="atmosfera">2</label><br> <input type="radio"
				name="atmosfera" id="atmosfera" value="3" checked /> <label
				for="atmosfera">3</label><br> <input type="radio"
				name="atmosfera" id="atmosfera" value="4" /> <label for="atmosfera">4</label><br>
				<input type="radio" name="atmosfera" id="atmosfera" value="5" /> <label
				for="atmosfera">5</label><br></td>

			<td><input type="radio" name="qualitaprezzo" id="qualitaprezzo"
				value="1" /> <label for="qualitaprezzo">1</label><br> <input
				type="radio" name="qualitaprezzo" id="qualitaprezzo" value="2" /> <label
				for="qualitaprezzo">2</label><br> <input type="radio"
				name="qualitaprezzo" id="qualitaprezzo" value="3" checked /> <label
				for="qualitaprezzo">3</label><br> <input type="radio"
				name="qualitaprezzo" id="qualitaprezzo" value="4" /> <label
				for="qualitaprezzo">4</label><br> <input type="radio"
				name="qualitaprezzo" id="qualitaprezzo" value="5" /> <label
				for="qualitaprezzo">5</label><br></td>

			<td><input type="radio" name="pulizia" id="pulizia" value="1" />
				<label for="pulizia">1</label><br> <input type="radio"
				name="pulizia" id="pulizia" value="2" /> <label for="pulizia">2</label><br>
				<input type="radio" name="pulizia" id="pulizia" value="3" checked />
				<label for="pulizia">3</label><br> <input type="radio"
				name="pulizia" id="pulizia" value="4" /> <label for="pulizia">4</label><br>
				<input type="radio" name="pulizia" id="pulizia" value="5" /> <label
				for="pulizia">5</label><br></td>


			<td><textarea name="commento" id="commento" cols="18" rows="4"></textarea></td>
			<td>
				<form action="/confirmFeedback" method="get">
					<button type="submit" class="btn btn-success">Conferma</button>
				</form> <!-- Home BUTTON -->
				<form action="Home">
					<button type="submit" class="btn btn-success">Home</button>
				</form>
				<form action="elencoView" method="get">
					<button type="submit" class="btn btn-success">Utente</button>
				</form>
			</td>
			<td>
		</tr>



	</table>


</body>
</html>