<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body style="text-align:center" class="container-fluid ">

	<h1>FEEDBACK</h1>


				
					
	<table class="table table-striped">
		<tr>
			<th>REVIEWS_ID</th>
			<th>SERVIZIO</th>
			<th>ATMOSFERA</th>
			<th>QUALITA/PREZZO</th>
			<th>PULIZIA</th>
			<th>COMMENTO</th>
		</tr>
			
			
		
		
		<tr th:each="cur: ${restaurants}">
				
			<td th:text="${cur.reviewsId}" id="id" ></td>
			<td th:text="${cur.servizio}" id="servizio" ></td>
			<td th:text="${cur.atmosfera}" id=atmosfera ></td>
			<td th:text="${cur.qualitaprezzo}" id="qualitaprezzo"></td>
			<td th:text="${cur.pulizia}" id="pulizia" ></td>
			<td th:text="${cur.commento}" id="commento" ></td>
			<td>
	
		</tr>
			
			
		
	</table>

							
</body>