<!DOCTYPE html>
<!-- my hello page -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">
<title>Inserisci</title>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css\fontAwesome.css" />
<link rel="stylesheet" type="text/css" href="css\bootstrap-theme.css" />
<link rel="stylesheet" type="text/css"
	href="css\bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="css\bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css\templatemo-style.css" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body style="text-align: center" class="container-fluid ">
<h2>Inserisci nuovo Ristorante:</h2>
	<table class="table table-striped">
		<tr>
			<th>RISTORANTE_ID</th>
			<th>NOME</th>
			<th>POSIZIONE</th>
			<th>POSTI DISPONIBILI</th>
			<th>TIPO CUCINA</th>
			<th>EMAIL</th>
			<th></th>
		</tr>
		<tr>

			<td><label for="id"></label> <input type="text"
				name="id"></td>
			<td><label for="nome"></label> <input type="text"
				name="nome"></td>
			<td><label for="posizione"></label> <input type="text"
				name="posizione"></td>
			<td><label for="postiDisponibili"></label> <input
				type="text" name="postiDisponibili"></td>
			<td><label for="tipoCucina"></label> <input
				type="text" name="tipoCucina"></td>
			<td><label for="email"></label> <input type="text"
				name="email"></td>
			<td>

				<form action="/confirm" method="get">
					<button type="submit" class="btn btn-success">Confirm</button>
				</form>
				
			</td>

		</tr>
	</table>






</body>