<!DOCTYPE html>
<!-- my hello page -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Inserisci nuovo Utente:</title>
<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="text-align: center" class="container-fluid ">
</head>

<body>
	<!-- Home BUTTON -->
	<h1>
		<a href="index.html"><img src="img/LOGO1.1.png" class="img-fluid"
			width="30%"></a>
	</h1>
	<h2>INSERISCI NUOVO UTENTE:</h2>
	<form action="/confirmUtente" method="get">
		
		
		<table>

			<tr>



				<th><label for="nome">Nome:</label> <input type="text"
					name="nome"></th>

				<th><label for="cognome">Cognome:</label> <input type="text"
					name="cognome"></th>

				<th><label for="email">Email</label> <input type="text"
					name="email"></th>

				<th><label for="userId">User id</label> <input type="text"
					name="userId"></th>

				<th><label for="affidabilita">Affidabilità</label> <input
					type="text" name="affidabilita"></th>


				<th>
					<button type="submit" class="btn btn-success">Confirm</button>
				</th>


			</tr>

		</table>
	</form>
	<!-- Admin BUTTON -->
	<form action="/TornaAdmin">
		<button type="submit" class="btn btn-success">torna in admin</button>
	</form>
</body>